/* Global
------------------- */
/* change to style.css */
:root {
  --title-font: 'Viga', sans-serif;
  --main-font: 'Rubik', sans-serif;
  --main-color: #221727;
  --dark-shadow: #1f2057;
  --transparent-main-color: rgba(34, 23, 39, 0.8);
  --background-color: #4143b1;
  --large-text-color: #5ef4d6;
  --button-hover: #24e5a3;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: var(--main-font);
  background-color: var(--background-color);
  padding-top: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.contact-title {
  color: var(--large-text-color);
  font-style: (--title-font);
  font-size: 2.5rem;
  text-shadow: 2px 4px 6px var(--dark-shadow);
  text-align: center;
  padding: 2rem;
}
/*Contact Summary Box
------------------- */
.contact-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: var(--transparent-main-color);
  border: 2px solid #5ef4d6;
  border-radius: 10px;
  margin: 1rem;
}
.article-logo {
  width: 50%;
  height: auto;
  padding: 1rem;
}
.contact-summary__text {
  font-family: var(--main-font);
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 1.5rem;
}
.contact-summary__icons {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  color: var(--mint-green);
}

.contact-summary__icon {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  border: 2px solid var(--large-text-color);
  border-radius: 50%;
}
/*Form
------------------- */
.contact-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  padding: 1rem;
}
.contact-form__fields::placeholder {
  font-family: var(--title-font);
}
/* play with placeholder - font is being overridden*/
.contact-form__fields {
  background-color: var(--transparent-main-color);
  border: 2px solid #5ef4d6;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
}
.contact-form__message {
  height: 100%;
}
/* default should have min height, desktop should stretch */
.contact-form__send {
  border: 2px solid #5ef4d6;
  border-radius: 10px;
  font-family: var(--title-font);
  color: var(--main-color);
  background-color: var(--large-text-color);
  margin: 1rem;
  padding: 0.4rem;
  font-size: larger;
}
/* TODO: textarea for message box */

/* Desktop
------------------- */
@media screen and (min-width: 720px) {
  body {
    padding-top: 2rem;
  }
  .contact {
    flex-direction: row;
  }
  .contact-article {
    width: 40%;
    margin: 2rem;
  }
  .contact-form__wrapper {
    width: 60%;
  }
  .article-logo {
    width: 60%;
    height: auto;
  }
}

/* padding and margin part of box model- declaration order
play with form widths on desktop
*/
