body {
  background-color: #221727;
  font-family: 'Viga', sans-serif;
}
#landing-page {
  background-image: url('/Challenge01/images/mintbean-dome.png');
}
header {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
#logo {
}
#navigation {
  color: white;
}
#level-up-text-wrapper {
  border: 2px solid #5ef4d6;
  border-radius: 10px;
  color: white;
  padding: 2rem;
  margin: 2rem;
}
#join-learn-a-thon-btn {
  background-color: #5ef4d6;
  color: #221727;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  margin-top: 1.5rem;
  font-size: x-large;
}
@media screen and (min-width: 720px) {
}
