:root {
  --main-color: #221727;
  --main-font: 'Rubik', sans-serif;
  --transparent-main-color: rgba(34, 23, 39, 0.8);
  --mint-green: #5ef4d6;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: grey;
}
header {
  background: url('images/mintbean-dome.png') no-repeat center/cover;
  height: 100vh;
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-color);
}
.navigation__img {
  width: auto;
  height: 90%;
  padding-left: 2rem;
}
.navigation-mobile {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}
.navigation-mobile__burger {
  width: 30px;
  height: 4px;
  background-color: var(--mint-green);
  margin: 4px 0;
}
.navigation-pc {
  display: none;
}

.level-up-text-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--mint-green);
  border-radius: 10px;
  color: white;
  background-color: var(--transparent-main-color);
  justify-self: center;
  padding: 1rem;
  margin: 3rem;
}

.join-learn-a-thon-btn {
  background-color: var(--mint-green);
  color: var(--main-color);
  border-radius: 5px;
  border: 0px;
  font-size: larger;
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: var(--main-font);
  width: 100%;
}

@media screen and (min-width: 720px) {
  .level-up-text-wrapper {
    width: 40%;
    margin: 5rem;
    padding: 1.5rem;
  }

  .navigation-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin: 0.5rem;
  }
  .navigation-pc__link {
    color: white;
    padding: 0.5rem;
    list-style-type: none;
    font-size: large;
    border-right: 1px white solid;
  }
  .navigation-pc__link-last {
    color: white;
    padding: 0.5rem;
    list-style-type: none;
    font-size: large;
  }
  .navigation-pc__join {
    background-color: var(--mint-green);
    color: var(--main-color);
    font-size: large;
    border-radius: 5px;
    border: 0px;
    padding: 0.3rem;
    margin-left: 0.5rem;
    text-align: center;
  }
  .navigation-mobile {
    display: none;
  }
  .burger {
    display: none;
  }
  .join-learn-a-thon-btn {
    background-color: var(--mint-green);
    color: var(--main-color);
    border-radius: 5px;
    border: 0px;
    font-size: larger;
    text-align: center;
    padding: 0.5rem 1rem;
    width: 70%;
  }
}
