body {
  --main-color: #221727;
  margin: 0;
  --main-font: 'Rubik', sans-serif;
  font-family: var(--main-font);
}
#landing-page {
  background-image: url('/Challenge01/images/mintbean-dome.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--main-color);
  align-items: center;
  justify-content: baseline;
}
#learn-a-bit-logo {
  width: auto;
  height: 90%;
}
#navigation-mobile #burger {
  width: 35px;
  height: 5px;
  background-color: #5ef4d6;
  margin: 6px 0;
}
#navigation-pc {
  display: none;
}

#header-join-btn {
  background-color: #5ef4d6;
  color: #221727;
  border-radius: 5px;
  border: 0px;
  padding: 0.3rem;
  text-align: center;
  font-family: var(--main-font);
  font-size: large;
  margin-left: 1rem;
}

#level-up-text-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #5ef4d6;
  border-radius: 10px;
  width: 80%;
  color: white;
  background-color: var(--main-color);
  opacity: 80%;
  justify-self: center;
  padding: 1rem;
  margin: 1rem;
}

#join-learn-a-thon-btn {
  background-color: #5ef4d6;
  color: #221727;
  border-radius: 5px;
  border: 0px;
  font-family: r;
  text-align: center;
  padding: 0.5rem 1rem;

  /* font-size: large; */
  font-family: var(--main-font);
}
@media screen and (min-width: 720px) {
  #level-up-text-wrapper {
    border: 2px solid #5ef4d6;
    border-radius: 10px;
    width: 40%;
    margin: 5rem;
    padding: 1.5rem;
  }
  #join-learn-a-thon-btn {
    background-color: #5ef4d6;
    color: #221727;
    border-radius: 5px;
    border: 0px;
    font-family: r;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: large;
    font-family: var(--main-font);
  }

  #navigation-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    margin: 1rem;
  }
  #navigation-mobile {
    display: none;
  }
  #burger {
    display: none;
  }
}
/* trying to figure out the burgewr menu */
/* .menu-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
} */
